*.npy
*.csv
*.csv*
*.zip
*.code-workspace

*.pyc

GeometryFlagging/data/

Post-Processing/

QCChecking/radPiper_2018-06-28-11-09-25_unpacked/
QCChecking/write_out_spectra.py
QCChecking/output/

Timestamps/LocalRunFindTimestampBinEdge.py
Timestamps/data/

*.dat

